<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
<h1>Your profile</h1>
  <div class="form-group">
    <%= f.label "Email-ID: " %>
    <%= f.email_field :email, class: 'form-control' %><br><br>
  </div>

  <div class="form-group">
    <%= f.label "Your Password: " %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "Password Confirmation: " %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %><br><br>
  </div>

  <div class="form-group">
    <%= f.label "Your current Password: " %>
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
  </div>

  <%= f.submit "Update", class: 'btn btn-primary' %>
<% end %>

<h3>Delete account!?</h3>

<p>Are you sure?
  <%= button_to "Delete account!", registration_path(resource_name), class: 'btn btn-danger',
                data: { confirm: "Are you sure, not happy with BlogAway?" }, method: :delete %>
</p>

<%= link_to "Back", :back, class: 'btn btn-default btn-sm' %>
