<h1><u>Your articles: </u></h1>
<div class="fr-view">
  <%= link_to 'New Article', new_article_path %><br><br>
  <table>
    <tr>
      <th>Title</th>
      <th>Post</th>
      <th colspan="5"></th>
    </tr>
 
    <% @articles.each do |article| %>
      <tr>
        <td><%= raw article.title %></td>
        <td><%= raw article.text %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure you want to delete this post?' } %></td>
      </tr>
    <% end %>
  </table>
</div>
