<h1>RoR Blog</h1>
<div class="container">
	<% if user_signed_in? %>
            <li><%= link_to 'Old Articles', :controller =>'articles' %></li>
			<li><%= link_to 'New Article', :controller =>'articles' , :action =>'new' %></li>
    <% else %>
          	<strong>New User ? <%= link_to 'Sign Up', new_user_registration_path %></strong><br><br>
          	<strong>Welcome back! ? <%= link_to 'Log In', new_user_session_path %></strong><br>
    <% end %>
</div>
